body{
    background-color: lightgray;
    color: black;
    font-size: large;
}

th{
    cursor: pointer;
}

th:hover{
    opacity: 0.3;
}


@media (max-width: 576px){

    .mainTitle{
        font-size: 30px;
        text-align: center;
    }
   
}